<h1>Home#index</h1>

<div class="messages" id='message_list'></div>

<div class="message-form">
  <form id='message_form'>
    <div class="row">
      <input id='message_txt' type="text" required="required">
    </div>

    <div class="row">
      <button class="btn" type="submit">
        <span>Send!</span>
      </button>
    </div>
  </form>
</div>

<%= javascript 'chat' %>
